.navContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    background-color: darkslategrey;
    position: relative;
}

.nav-section{
    display: flex;
    padding-top: 10px;
    gap: 50px;
    list-style: none;
    justify-content: center;
    
}

.nav-section li a{
    color: black;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}
  
.nav-section li a:hover{
    color: #00bcd4;
}

.nav-bar{
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
}
  
.bar{
    width: 25px;
    height: 3px;
    background-color: white;
    transition: all 0.3s ease;
}


@media screen and (max-width: 768px){
    .nav-section {
      position: absolute;
      top: 70px;
      right: 0;
      background-color: white;
      color: black;
      flex-direction: column;
      width: 100%;
      text-align: center;
      display: none;
    }
  
    .nav-section.active{
      display: flex;
    }
  
    .nav-bar{
      display: flex;
      align-items: end;
      padding-right: 20px;
      padding-top: 10px;
      width: 30px;
      height: 20px;
    }

    .bar{
        width: 25px;
        height: 3px;
        background-color: black;
        transition: all 0.3s ease;
    }
}
  