.Home{
    height: 100vh;
    scroll-snap-type: start;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100000;

}

.intro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.name{
    font-size: 35px;
}

.hi{
    color: #ffa500;
    
}



.specialization{
    font-weight: 2000;
    font-size: 30px;
}

@media (max-width : 768px){
    .specialization{
        font-size: 20px;
    }
    .name{
        font-size: 30px;
    }
}

