.Home{
    height: 100vh;
    scroll-snap-type: start;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100000;

}

.intro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.name{
    font-size: 35px;
}

.hi{
    color: red;
}

.roles{
    font-size: 20px;
}

.specialization{
    font-weight: 2000;
    font-size: 30px;
}