.App {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
    scroll-behavior: smooth;
  }
  
  .content {
    display: flex;
    flex-direction: column;
  }
  
.Home,
.About,
.Skills,
.Projects,
.Contact {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  height: 100vh;
}

body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #0d0d0d; /* fallback */
  overflow-x: hidden;
}
