
.App {
  overflow-y: scroll; /* Enable vertical scrolling */
  
  scroll-behavior: smooth; /* Smooth scrolling for navigation */
  position: relative;
  height: 100vh; /* Full viewport height */
  
}

.content {
  display: flex;
  flex-direction: column; /* Stack sections vertically */
}

.Home,
.About,
.Skills,
.Projects,
.Contact {
  height: 100vh; /* Full viewport height for each section */
 
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center;
  z-index: 200; /* Center content vertically */
}

body,
html,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: transparent;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.content{
  z-index: 1;
}
#home ,#about , #skills , #projects , #contact{
  z-index: 2;
}
