.App {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
    scroll-behavior: smooth;
  }
  
  .content {
    display: flex;
    flex-direction: column;
  }
  
.Home,
.About,
.Skills,
.Projects,
.Contact {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  height: 100vh;
}