
body{
    overflow: auto;
    -ms-overflow-style: none;     
    scrollbar-width: none; 
    cursor: none;      
}
  
body::-webkit-scrollbar {
    display: none;              
}


body {
    font-family: 'Roboto', sans-serif;
}
  
* {
    -webkit-tap-highlight-color: transparent;
  }