.Projects {
  min-height: 100vh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem 1rem;
  
  color: var(--text-main);
}

.projects-container {
  text-align: center;
  max-width: 720px;
}

.heading {
  font-size: 2.5rem;
  color: var(--secondary);
}

.projects-description {
  margin-top: 1rem;
  font-size: 1.2rem;
  color: var(--text-sub);
}
